/Copy of SAKI Exercise 3 Adesso 2 LifeMDP.py
/Repport/23_06_21_SAKI_Exercise_Presentation.pdf
/Repport/Summary.aux
/Repport/Summary.log
/Repport/Summary.out
/Repport/Summary.pdf
/Repport/Summary.synctex.gz
/Repport/Summary.tex
/Repport/result.png
